
[Desktop Entry]
Name=Zen Browser
Comment=Experience tranquillity while browsing the web without people tracking you!
Keywords=web;browser;internet
Exec=/home/kev/.tarball-installations/zen/zen %u
Icon=/home/kev/.tarball-installations/zen/browser/chrome/icons/default/default128.png
Terminal=false
StartupNotify=true
StartupWMClass=zen
NoDisplay=false
Type=Application
MimeType=text/html;text/xml;application/xhtml+xml;application/vnd.mozilla.xul+xml;text/mml;x-scheme-handler/http;x-scheme-handler/https;
Categories=Network;WebBrowser;
Actions=new-window;new-private-window;profile-manager-window;
[Desktop Action new-window]
Name=Open a New Window
Exec=/home/kev/.tarball-installations/zen/zen --new-window %u
[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=/home/kev/.tarball-installations/zen/zen --private-window %u
[Desktop Action profile-manager-window]
Name=Open the Profile Manager
Exec=/home/kev/.tarball-installations/zen/zen --ProfileManager

